* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  max-width: 600px;
  padding: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  /* border: 3px dotted brown; */
  background-color: orange;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 2em;
  /* padding-bottom: 10px;
  border-radius: 15px; */
}

main {
  background-color: orange;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
}

h1 {
  background-color: lightgoldenrodyellow;
  width: 80%;
  margin: auto;
  margin-top: 15px;

  border-radius: 15px;
  padding: 10px 0px 20px 0px;
}

p {
  font-size: 1.5em;
}

.app_footer_style {
  position: sticky;
  width: 80%;
  bottom: 0px;
  /* border: 3px solid green; */
  margin: 20px 0px;
  background-color: lightgoldenrodyellow;
  border-radius: 15px;
  height: auto;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 20px;
  align-items: end;
}

li {
  text-decoration: none;
  list-style: none;
  font-size: 1em;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: lightgray;
  padding: 5px;
}

.sec_card_question {
  width: 80%;
  background-color: lightgoldenrodyellow;
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.sec_card_bookmarked {
  width: 80%;
  background-color: lightgoldenrodyellow;
  margin-top: 20px;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.article_style {
  width: 80%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content:space-evenly; */
  /* gap: 30px; */
  /* background-color: blue; */
  /* padding-top: 40px; */
  /* height: fit-content; */
}

.tag_style {
  width: 95%;
  /* background-color: green; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.question_style {
  margin: 20px;
  background-color: transparent;
}

.sec_bookmarks {
  border: 2px double blue;
  margin: 40px;
  height: auto;
}

.button_style {
  width: auto;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 10px;
  background-color: tomato;
  margin-bottom: 30px;
}

.bookmark_position {
  width: 100%;
  height: auto;
}

.bookmark_style {
  width: 10%;
  height: auto;
}

.bookmark_btn_marked {
  background-color: gray;
  color: lightgoldenrodyellow;
  width: 25px;
  height: 40px;
  border: 2px solid gray;
  position: absolute;
  top: -10px;
  right: 15px;
  border-radius: 5px;
}

.bookmark_button {
  background-color: transparent;
  width: 25px;
  height: 40px;
  border: 2px solid gray;
  position: absolute;
  top: -10px;
  right: 15px;
  border-radius: 5px;
}

.bookmark_button:hover {
  background-color: gray;
}

.bookmark_button:active {
  background-color: red;
}

.btn_footer_style {
  width: 60px;
  height: 50px;
  background-color: lightsalmon;
  border-radius: 20%;
  font-size: 3em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_footer_style:active {
  border: 2px solid green;
}

.btn_footer_style:hover {
  border: 2px dotted tomato;
  background-color: gray;
}

.btn_footer_style_this_side {
  border: 2px dotted gray;
  background-color: tomato;
}
