.card__button__answer {
  width: auto;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 10px;
  background-color: tomato;
  margin-bottom: 30px;
}

.bookmark__button {
  background-color: transparent;
  border: none;
}

.bookmark__button__svg {
  width: 60px;
  height: auto;
  fill: none;
  stroke: #323232;
  /* stroke-width: 1px; */
  /* stroke-linejoin: round; */
}

.bookmark__button__svg:hover,
.bookmark__button__svg:focus {
  fill: rgba(184, 135, 11, 0.484);
}

.bookmark__button__svg--marked {
  fill: darkgoldenrod;
}

.footer__button__svg {
  width: 70px;
  height: auto;
  fill: none;
  stroke: #323232;
}

.footer__button__svg:hover,
.footer__button__svg:focus {
  fill: darkgoldenrod;
}

.footer__button__svg {
  width: 70px;
  height: auto;
  fill: none;
  stroke: #323232;
  /* stroke-width: 1px; */
  /* stroke-linejoin: round; */
}

.footer__button__svg:hover,
.footer__button__svg:focus {
  fill: darkgoldenrod;
}
