.button_style {
  width: auto;
  font-size: 1.5em;
  padding: 10px;
  border-radius: 10px;
  background-color: tomato;
  margin-bottom: 30px;
}

.bookmark {
  /* width: 100%; */
  /* height: auto; */
}

.bookmark_style {
  /* width: 10%; */
  /* height: auto; */
}

.bookmark_btn_marked {
  background-color: gray;
  color: lightgoldenrodyellow;
  width: 25px;
  height: 40px;
  border: 2px solid gray;
  position: absolute;
  top: -10px;
  right: 15px;
  border-radius: 5px;
}

.bookmark_button {
  background-color: transparent;
  /* width: 25px;
  height: 40px; */
  /* border: 2px solid gray;
  position: absolute;
  top: -10px;
  right: 15px;
  border-radius: 5px; */
}

.bookmark_button:hover {
  background-color: gray;
}

.bookmark_button:active {
  background-color: red;
}

.tag_style {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.bookmark-button-svg {
  width: 100%;
  height: 100%;
}
