.footer {
  background-color: var(--globalbackgroundcolor);
  border-radius: 0 0 var(--globalradius) var(--globalradius);
}
.footer__container {
  background-color: var(--cardbackgroundcolor);
  border-radius: var(--globalradius);
  width: var(--globalcontainerwidth);
  margin: auto;
  margin-top: 20px;
  height: auto;
  padding: 10px 0 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* 
.footer__image {
  width: 70px;
  height: auto;
} */
